body {
    margin: 0%;
    padding: 0%;
    background-color: #f4d06f;
}

.titleCard {
    margin: 0px;
    background-color: #fff8f0;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    height: 400px;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.big {
    height: 800px;
}

.imageHolder {}

.mainTitle {
    margin: 0%;
    padding-right: 0%;
    font-family: 'Arvo', serif;
    font-size: 100px;
    text-align: left;
    color: #ff8811;
    transition: all 0.5s;
    float: left;
    animation-name: fadein;
    animation-duration: 1.5s;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 1%;
    transition: all 0.5s;
}

.column>h3 {
    text-align: center;
    margin-top: 45%;
    font-family: 'Arvo', serif;
    font-size: 50px;
    font-weight: 400;
    color: #292f36;
    transition: all 0.5s;
}

.column2 {
    float: left;
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 45%;
        padding: 0 2.5%;
    }
}

@media screen and (max-width: 650px) {
    .column {
        width: 90%;
        display: block;
        padding: 0 5%;
    }
    .column>h3 {
        margin: 10%;
    }
    .mainTitle {
        padding-top: 25px;
        margin-left: 0;
        text-align: center;
        width: 100%;
    }
    .titleCard {
        height: 200px;
    }
}

.card {
    background-color: #fff8f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transition: all 0.5s;
}

.card:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #ff8811;
}

.container {
    padding: 0 16px;
}

.title {
    color: #292f36;
    padding-bottom: 4%;
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.side-crop {
    max-width: 80%;
    overflow: hidden;
    margin-left: 10%;
    padding-top: 9%;
}

.imageHolder {
    max-width: ;
}

input[type="text"] {
    font-family: 'Arvo', serif;
}

.searchCombo {
    text-align: center;
}

.searchCombo input {
    border: none;
    border-radius: 5px;
    font-family: 'Arvo', serif;
    font-weight: 400;
}

#search_submit {}

.headerTitle {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #ff8811;
}

a {
    text-decoration: none;
}


.aboutText {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #fff8f0;
}

.aboutText>a {
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;
}

.aboutText>a:visited {
    color: #fff8f0;
}

.aboutText>a:hover {
    text-decoration: underline solid Currentcolor;
}

#logoClick {
    margin: 0%;
    padding: 0 1%;
    font-family: 'Arvo', serif;
    font-size: 70px;
    color: #ff8811;
    background-color: #fff8f0;
    display: inline;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    border: 3px;
    border-radius: 5px;
}