body {
    margin: 0%;
    padding: 0%;
    background-color: #f4d06f;
}

.titleCard {
    margin: 0px;
    background-color: #fff8f0;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    height: 400px;
}

@keyframes fadein {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.big {
    height: 800px;
}

.mainTitle {
    margin: 0%;
    padding-right: 0%;
    font-family: 'Arvo', serif;
    font-size: 100px;
    text-align: left;
    color: #ff8811;
    transition: all 0.5s;
    float: left;
    animation-name: fadein;
    animation-duration: 1.5s;
    cursor: default;
}

.coolInfo {
    font-family: 'Roboto', sans-serif;
    width: 45%;
}

.trendingArea a {
    color: #292f36"

}

.hotelTitle {
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.priceTag {
    color: #ff8811;
    font-size: 40px;
    margin-top: 0;
    transition: color 0.5s;
}

.perNight {
    float: left;
    margin-left: 40%;
    margin-right: 40%;
}

.hotelDetails {
    display: block;
}

.reviews {
    border-radius: 33px;
    background: #fff8f0;
    box-shadow: 8px 8px 16px #c7c1bb, -8px -8px 16px #ffffff;
}

.reviews h3 {
    float: left;
    margin-right: 100%;
}

.reviews p {
    float: left;
    width: 32%;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.column {
    float: left;
    width: 23%;
    margin-bottom: 16px;
    padding: 0 1%;
    transition: all 0.5s;
}

.column a {
    color: #292f36;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.column a:visited {
    color: #292f36;
}

.column h3 {
    text-align: center;
    margin-top: 45%;
    font-family: 'Arvo', serif;
    font-size: 50px;
    font-weight: 400;
    color: #292f36;
    transition: all 0.5s;
}

.column2 {
    float: left;
    width: 40%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .column {
        width: 45%;
        padding: 0 2.5%;
    }
}

@media screen and (max-width: 736px) {
    #search {
        padding-top: 1px;
    }
    .searchCombo input {
        padding-top: 1px;
        margin-left: 5px;
    }
    .mainTitle {
        padding-top: 25px;
        margin-left: 0;
        text-align: center;
        width: 100%;
        font-size: 80px;
    }
    .titleCard {
        height: 200px;
    }
}

@media screen and (max-width: 650px) {
    .column {
        width: 90%;
        display: block;
        padding: 0 5%;
    }
    .column h3 {
        margin: 10%;
    }
}

.card {
    background-color: #fff8f0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    transition: all 0.5s;
}

.cardText p {
    color: #292f36;
    padding-bottom: 4%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.priceNight {
    padding-left: 10%;
    padding-top: 0%;
    padding-bottom: 4%;
}

.card:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #ff8811;
}

.card:hover .priceTag {
    color: #fff8f0;
}

.container {
    padding: 0 16px;
}

.title {
    color: #292f36;
    padding-bottom: 1%;
    padding-left: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.side-crop {
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    margin-left: 10%;
    padding-top: 9%;
}

.side-crop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imageHolder {
    max-width: 50%;
    margin-right: 5%;
}

input[type="text"] {
    font-family: 'Arvo', serif;
}

.searchCombo {
    text-align: center;
}

.searchCombo input {
    border: none;
    border-radius: 5px;
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 20px;
    background-color: #fff8f0;
    margin-left: 10px;
    padding-top: 60px;
}

#search {
    width: 250px;
}

.headerTitle {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #ff8811;
}

.headerTitle:hover {
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
}

.aboutText {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #fff8f0;
}

.aboutText a {
    text-decoration: underline solid transparent;
    transition: text-decoration 0.5s ease;
    color: #fff8f0;
}

.aboutText a:visited {
    color: #fff8f0;
}

.aboutText a:hover {
    text-decoration: underline solid Currentcolor;
}

#logoClick {
    margin: 0%;
    padding: 0 1%;
    font-family: 'Arvo', serif;
    font-size: 70px;
    color: #fff8f0;
    display: inline;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
    animation-name: fadein;
    animation-duration: 1.0s;
    border-radius: 15px;
    background: #ff8811;
    box-shadow: 8px 8px 16px #c76a0d, -8px -8px 16px #ffa615;
    transition: box-shadow 0.5s;
}

#logoClick:hover {
    box-shadow: inset 8px 8px 16px #c76a0d, inset -8px -8px 16px #ffa615;
}

.login-div {
    margin: auto;
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 50px;
    background: #fff8f0;
    box-shadow: 20px 20px 60px #d9d3cc, -20px -20px 60px #ffffff;
}

.logo {
    background: url("src/img/Hotelite Logo.png");
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: /* logo shadow */
    0px 0px 2px #5f5f5f, /* offset */
    0px 0px 0px 5px #fff8f0, /*bottom right */
    8px 8px 15px #d9d3cc, /* top left */
    -8px -8px 15px #ffffff;
}

.login-div .title {
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.5px;
    padding-top: 24px;
    padding-right: 0%;
    padding-bottom: 0%;
    padding-left: 0%;
    color: #292f36;
}

.sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}

.fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
}

.fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.username, .password, .email, .confirmpassword{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #d9d3cc, inset -8px -8px 8px #ffffff;
}

.fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
    fill: #292f36;
}

.signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #292f36;
    text-align: center;
    background: #ff8811;
    box-shadow: 3px 3px 8px #d9d3cc, -3px -3px 8px #ffffff;
    transition: 0.5s;
}

.signin-button:hover {
    background: #ff8d1c;
}

.signin-button:active {
    background: #db750f;
}

.link {
    padding-top: 20px;
    text-align: center;
}

.link a {
    text-decoration: none;
    color: #292f36;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.error{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 24px;
}